adium-theme-ubuntu==0.3.4
capstone==3.0.4
certifi==2018.4.16
chardet==3.0.4
cycler==0.9.0
future==0.16.0
idna==2.7
keystone-engine==0.9.1.post3
matplotlib==1.5.1
metame==0.1
numpy==1.11.0
pefile==2017.11.5
Pillow==9.0.1
pyparsing==2.0.3
python-dateutil==2.4.2
pytz==2014.10
r2pipe==0.9.9
requests==2.20.0
simplejson==3.15.0
six==1.10.0
unity-lens-photos==1.0
urllib3==1.24.2
vboxapi==1.0
